<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Express to-do</title>
</head>
<body>
  <h1>Edit Todo</h1>
  <form action="/todos/<%= todoId %>?_method=PUT" method="POST">
    <input type="text" name="todo" autocomplete="off" value="<%= todo.todo %>">
    <label>
        <input type="checkbox" name="done" <%= todo.done ? 'checked' : '' %>>
        Done
    </label>
    <button type="submit">Update Todo</button>
  </form> 
</body>
    

</html>